body{
      font-family: 'Courier New', Courier, monospace;
      background-color: seashell;
}
.split{
      height: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      border: 1px solid red;
      /* padding-top: 20px; */
}
.left{
      left:0;
      width: 65%;
}
.right{
      right:0%;
      width: 35%;
}
.centered {
      position: absolute;

}
textarea {
      width: 700px;
      height: 600px;
      top: 10%;
      left: 15%;
}
#link{
      width: 250px;
      top: 30%;
      left: 25%;
}