body{
      font-family: 'Courier New', Courier, monospace;
      background-color: rgb(242, 210, 215);

}
.split{
      height: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      overflow-y: hidden
}
#line{
      border-right: 2px solid black;
      padding: 10vh 5vw;
}
.left{
      left:0;
      width: 60%;
}
.right{
      right:0%;
      width: 40%;
}
.centered {
      position: absolute;
      top: 5%;
}
textarea {
      width: 48vw;
      height: 199vh;
      left: 5%;
      font-size: 16px;
}
input{
      
      width: 400px;  
      height:25px;
}
h2{
      margin-top: 50%;
}
input, textarea{
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 5px;
      background-color: #f8f8f8;
      resize: none;
}
button{
      color:black;
      background-color: rgb(247, 245, 236);
      width:75px;
      height: 30px;
      margin-left: 10px;
}
#paragraph{
      text-align: center;
}
