body{
      font-family: 'Courier New', Courier, monospace;
      background-color: seashell;
}
.split{
      height: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      overflow-y: hidden
      /* padding-top: 20px; */
}
#line{
      border-right: 2px solid red;
      padding: 75px;
}
.left{
      left:0;
      width: 65%;
      
}
/* .line{
      border-right: 2px solid red;
} */
.right{
      right:0%;
      width: 35%;
     
}
.centered {
      position: absolute;
      top: 5%;
    
}
textarea {
      width: 700px;
      height: 650px;
}
input{
      margin-top: 50%;
      width: 400px;  
      height:25px;
}
input, textarea{
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 5px;
      background-color: #f8f8f8;
      resize: none;
}
button{
      width:75px;
      height: 30px;
      margin-left: 10px;
}
#paragraph{
      text-align: center;
}
